*{
    padding: 0;
    margin:0;
    font-family: sans-serif;
    box-sizing: border-box;
    
}
.name{
    color:aliceblue;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
.hero 
{
    height:100vh;
    width:100%;
    background-image: url(img.jpg);
    background-size:cover;
    background-position:center;
    

}
nav{
    display: flex;
    align-items: center;
    padding-left: 10%;
    padding-right:10%;
    position: right;
}
nav ul{
    display: flex;
    float:right;
}
nav ul li{
    padding: 10px 40px 10px 0px;
}
span{
    color:yellow
}
nav ul li a{
    color:aliceblue;
    font-weight: bold;
    text-decoration:none;
}
nav ul li a:hover
{
    color:red;
    transition:1s;
}
.btn{
    background-color: darkcyan;
    color:white;
    font-weight: bold;
    border-radius: 100px;
    text-decoration: none;
    width:90px;
    padding: 5px;
    transform: scale(1.3);
    transition: .5s;

}
.btn:hover{
    background-color: transparent;
    border: 2px solid darkslategray;
    cursor:pointer;

}
.content{
    top: 75;
    left:50;
    right: 40;
    position:absolute;
    transform:translate(50%,50%);
}
h3{
     color:pink;
     font-size: 30px;
     margin-bottom: 40px;

}
h2{
    color:aliceblue;
  

}
h4{
    color:pink;

}
.subscribe form
{
    width: 400;
    position: relative;

}
.subscribe form input:first-child{
    display:inline-block;
    width: 270px;
    height: 40px;
    padding: 15px,120px,13px,14px;
    border:3px solid cadetblue;
    border-radius: 40px;

}
.subscribe form input:last-child{
    display: inline-block;
    color:white;
    padding: 10px,20px;
    border:none;
    height:30px;
    width:70px;
    background-color: cadetblue;
    left: 195px;
    top:6px;
    border-radius: 40px;
    position: absolute;
    box-shadow: 0px 0px 10px black;
    cursor: pointer;
}   
img{
    width: 450px;
    height:650px;
    padding: 70px;
} 
  
.about_me{
    width:100%;
    padding: 100px,0px;
    background-color:darkcyan;
}
.kk{
    padding-top: 70px;
}

.about_content{
    color:azure;

}
.main{
    display: flex;
}
.about_content h5{
    color:rgb(21, 65, 65);
    font-size: 30px;
    letter-spacing: 3px;
}
.about_content p{
    color: azure;
    font-size: 25px;
}
.btn_talk:hover{
    background-color:transparent;
    border:5px ;
    border-color: aqua;
    cursor:pointer;

}

.btn_talk{
    
    background-color:darkslategray;
    color:white;
    font-weight: bold;
    border-radius: 1000px;
    text-decoration: none;
    width:900px;
    height: 700px;
    margin: 250px;
    padding: 10px;
}   
    
.skills{
    background-color:cadetblue;
    width:100%
}
.title h2{
    color:pink;
    font-size: 60px;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 30px;
}
.box{
    display:flex;
    align-items:center;
    justify-content: center;
}
.card{
    height: 400px;
    width: 270px;
    background-color: darkslategray;
    border-radius: 20px;
    margin: 15px;
}
.card h4{
   text-align: center;
   margin: 20px;
   font-size:20px;
   letter-spacing: 2px;
}
.par p{
    color:aliceblue;
    line-height:30px;
    margin-left: 10px;
    margin-right: 10px;
}
.par .button{
    background-color:cadetblue;
    color: white;
    text-decoration: none;
    border-radius: 40px;
    margin:40px;
    padding: 10px;

}
.par .button:hover{
    background-color: transparent;
    cursor:pointer;
}

.card i{
    color:pink;
    font-size: 40px;
    text-align: center;
    padding-left: 120px;
    padding-top: 20px;
}

.hire .button{
    background-color:darkslategray;
    color: white;
    text-decoration: none;
    border-radius: 40px;
    margin:40px;
    padding: 10px;
    margin-left: 400px;
    
    
    
}
.hire .button:hover{
    background-color: transparent;
    cursor: pointer;
}
    
.hire{
    width:100%;
    align-content:center;
    background-color: darkcyan;
    height:200px;
    padding-left: 200px;
    padding-top:100px;

}
.footer{
    width: 100%;
    
    


}  
.footer .author
{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color:pink;
    padding-top: 100px;
    

}

.footer .reach{
    font-size: 15px;
    color: pink;
    font-weight: bold;
   
    
    
    
}
.footer .social-media i

{
     
     width: 50px;
     height: 50px;
     
     background-color:pink;
     border-radius:50% ;
     color:black;
     font-size: 30px;
     text-align: center;
     align-items: center;
     justify-content: center;
     
     padding-top: 10px;
}
.footer .social-media i:hover{
    background-color: transparent;
    border: 2px solid pink;
    cursor: pointer;
    transform: scale(1.3);
    transition: .5s;
}
.footer .author1
{
    font-size: 30px;
    color:pink;
    font-family: Arial, Helvetica, sans-serif;
    

}
.pi{
    font-size: 10px;
    text-align: center;
}
    


 


      
    
    
      
      
      



    
    

